
---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout pageTitle={frontmatter.title}>
<main>
<h1>{frontmatter.title}</h1>
<div class="tags">
    <p>{frontmatter.tag1}</p>
    <p>{frontmatter.tag2}</p>
    <p>{frontmatter.tag3}</p>
    <p>{frontmatter.tag4}</p>
</div>
<h3>{frontmatter.description}</h3>

<ol class="notes">
    <li>{frontmatter.mainroles}</li>
    <li>{frontmatter.teammates}</li>
    <li>{frontmatter.timeframe}</li>
</ol>

<section>
    <img class="full_width_img" src={frontmatter.image.url} alt={frontmatter.image.alt}></img>
</section>

<slot />
</main>
</BaseLayout>